<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TODO with HTMX</title>
	<link rel="stylesheet" href="/assets/css/alert.css">
	<script src="https://unpkg.com/htmx.org@1.9.12"
		integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>

<body>
	<main class="flex flex-row justify-center w-full">
		<div hx-ext="ws" ws-connect="wss://{{ hostname }}:{{ port }}/">
			<div id="notifications"></div>
		</div>
	</main>
</body>

<script>
	htmx.on("htmx:wsAfterMessage", function (event) {
		console.log("After Message", event);
		<!-- do our own thing -->

		parser = new DOMParser();
		xmlDoc = parser.parseFromString(event.detail.message, "text/xml");

		const class_attribute = xmlDoc.getElementById("notifications").getAttribute("class");

		//TODO: Add more sounds for different types of notifications
		if (class_attribute === "alert") {
			var audio = new Audio('assets/sounds/dial-up.wav');
			audio.play();
		}
	});
</script>

</html>
